@import '../../index.scss';

.tabs {
  display: flex;
  width: 92%;
  border: 1px solid $primary-color;
  border-radius: 4px;
  overflow: hidden;
  background: $background-color;
  margin: 0 auto;
  margin-top: 0.1rem;

  &__item {
    flex: 1;
    padding: 12px 1px;
    text-align: center;
    font-size: $font-size-xs;
    font-family: $font-primary;
    color: $primary-color;
    border: none;
    border-right: 1px solid $primary-color;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    &:last-child {
      border-right: none;
    }

    &.active {
      background: $primary-color;
      color: $background-color;
    }

    &:hover:not(.active) {
      background: lighten($primary-color, 45%);
    }
  }
}
