@import '../../index.scss';

.topButtons {
  display: flex;
  justify-content: space-between;
  gap: 12px;

  .btn-outline {
    flex: 1;
    border: 2px solid $primary-color;
    padding: 12px 4px;
    border-radius: 8px;
    background: transparent;
    font-size: $font-size-sm;
    font-family: $font-primary;
    color: $primary-color;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background: $primary-color;
      color: $background-color;
    }
  }
}
