@import '../../index.scss';

.categorySelector {
  width: 92%;
  border: 1px solid $primary-color;
  border-radius: 4px;
  background: $background-color;
  margin: 1rem auto;


  &__btn {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 8px 8px 0 0;
    background: transparent;
    font-family: $font-display;
    font-weight: 300;
    color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
    outline: none;
    border-bottom: 1px dashed #999;

    &:hover {
      background: lighten($background-color, 2%);
    }

    &:focus {
      outline: none;
    }
  }

  &__content {
    border-radius: 8px;
    background: $background-color;
    overflow: hidden;
  }

  &__categories {
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}

.categoria-item {
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  font-size: $font-size-xs;
  border-bottom: 1px dashed #999;
  color: $primary-color;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background: lighten($primary-color, 45%);
  }
}
